ENVIRONMENT=development
# ENVIRONMENT=production

DEBUG=True

SECRET_KEY=django-insecure-=q=mx5mlh7l048qourx5pfg)9+cz5*2)yh!fp67z(gde#^@s_(

URL_API_DEV=https://webapi.co.id/dev

URL_API_PROD=https://webapi.co.id/prod