<!-- Following Menu -->
<div class="ui inverted borderless large top fixed menu">
  <div class="ui container">
    <a class="{% if menupage == 'home' %}active{% endif %} item" href="/">Home</a>
    <a class="{% if menupage == 'about' %}active{% endif %} item" href="/about">About</a>
    <a class="{% if menupage == 'article' %}active{% endif %} item" href="/article">Article</a>
    <a class="{% if menupage == 'news' %}active{% endif %} item" href="/news">News</a>
    <a class="{% if menupage == 'travel' %}active{% endif %} item" href="/travel">Travel</a>
    <a class="{% if menupage == 'contact' %}active{% endif %} item" href="/contact">Contact</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
        <a class="ui primary button" style="margin-left: 10px;">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">About</a>
  <a class="item">Article</a>
  <a class="item">News</a>
  <a class="item">Travel</a>
  <a class="item">Contact</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>
